
@import url('https://fonts.googleapis.com/css?family=Oswald');

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Abel');


.contenedor {
    width: 500px;
    margin: 10 auto;
}

/* --- Estructura --- */
.cuerpo {
    margin: 100px;
    position: relative;
}

*{
	margin:0;
	padding:0;
}

/* ALGUNAS DEFINICIONES GENÉRICAS */

body{


	font-family: 'Oswald', sans-serif;
	background:rgba(255,255,255,1);
	color:rgba(100,100,100,1);
}

h1, h3,{
	font-weight:700;
	font-family: 'Oswald', sans-serif;

	#inner {
		 width: 5em;
		 height: 5em;
		 background-color: #999;
		 position: static ;

	}
	#second
		 width: 5em;
		 height: 150em;
		 position: fixed;
		 top: 1em;
		 left: 2em;}

}

}

h2, h4,{
	font-weight:700;
	font-family: 'Abel', sans-serif;
	position: static;

}

h1{
	font-size:6rem;

	letter-spacing:0.3em;
	color:rgba(255,255,255,0.9);
	text-align:center;
	text-shadow: 2px 2px #ff0000;
  header { position: fixed;
	background-color: #ffff00;
	height: 100px; }


	#inner {
	   width: 5em;
	   height: 5em;
	   background-color: #999;
		 position: fixed;
		top: -10em;
		left: 0em;}

	}
	#second
	   width: 5em;
	   height: 150em;
	   position: fixed;
	   top: 1em;
	   left: 2em;}

h2{
	font-size:2rem;
	letter-spacing:0.1em;
	color:rgba(255,255,255,0.9);
	text-align:center;
	padding:5rem 0;
}

h3{
	font-size:3rem;
	letter-spacing:0.1em;
	color:rgba(0,0,0,0.9);
	text-align:center;
	padding:2rem 0;
}

a{
	color:rgba(155,0,0,1);
	text-decoration:none;
}

a:hover{
	color:rgba(255,0,0,1);
	text-decoration:underline;
}

/* COMENZAMOS CON LAS PARTES */

#contenido{width:100%; margin:1%;}


header{
	width:100%;
	top:30%;
	position: absolute;
  top: 150px; left: 40px;
	text-align:center;
	z-index:9;
	color:white;
}

video{
	width:100%;
	height:auto;
}

#somos{
	width:100%;
	background:white);
	margin-bottom:2%;
	}

.dupla{
	width:46%;
	padding:2%;
	float:left;
	background-color:white;
	}

.primera{
	min-height:300px;
	text-align:left;
	background-color: white;
	background-image:url('media/dupla-01.jpg');
	background-position:top right;
	background-repeat:no-repeat;
	background-size:auto 100%;
}
.primera h4{padding: 2% 40% 1% 2%;}

.primera h5{padding: 1% 40% 2% 2%; margin-bottom:5em; letter-spacing:0.1em;}

.primera p{padding: 2% 40% 2% 2%;}

.primera address{padding: 2% 40% 2% 2%; font-size:0.9em; font-style:normal;}

.segunda{
	min-height:300px;
	text-align:right;
	background-color:rgba(235, 235, 235, 1.00);
	background-image:url('media/dupla-02.jpg');
	background-position:top left;
	background-repeat:no-repeat;
	background-size:auto 100%;
}

.segunda h4{padding: 2% 2% 1% 40%;}

.segunda h5{padding: 1% 2% 2% 40%; margin-bottom:5em; letter-spacing:0.1em;}

.segunda p{padding: 2% 2% 2% 40%;}

.segunda address{padding: 1% 1% 1% 0%; font-size:1em; font-style:normal;}

#somos hr{
	clear:both;
	border:none;
	}

#portafolio{
	width:100%;
	padding-bottom:1%;
	background:black

}

.item {
	width:23%;
	margin:1%;
	color:#333;
	background:white;
	box-shadow:0 0 5px rgba(0,0,0,.5);
}

.item:hover{
	cursor:crosshair;
	{cursor: grabbing;}
}

.item figure{
	overflow:hidden;
	cursor: copy;
}

.item figure img{
	width:100%;
	height:auto;
	margin-bottom:-4px;
	filter: blur()(1);
}

.item:hover figure img{
	transform:scale(2);
	filter: blur()(0);
	transition:all ease-out 1s;
}

.item h4{
	font-size:1em;
	letter-spacing:0.025em;
	margin:5% 5% 3% 5%;
}

.item p{
	font-size:0.875em;
	letter-spacing:0.05em;
	margin:2% 5% 6% 5%;
}

footer{
	width:100%;
	padding:3em 0 1em 0;
	text-align:center;
}

footer p{
	text-transform:uppercase;
	letter-spacing:0.1em;
	font-size:0.9em;
	}

/* AJUSTES PARA QUE SE VEA BIEN EN DISTINTOS DISPOSITIVOS */

@media screen and (min-width:300px) and (max-width:800px) {
body{font-size:0.8em;}
sidebar{display:none;}
}

<style>
img{max-width:100%;}
</style>
